/* FORMULARIO DE PESQUISA*/

.formPesquisa{
  margin: 20px;
  margin-bottom: 0%;

}

.formPesquisa input[type=text]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
}



.formPesquisa input[type=submit]{
    width: 19%;
    border-radius: 0%;
    padding: 14px;
    margin-left: 11px;

    
  
}

/* FORMULARIO DE CADASTRO */

.formCadastro{
  padding: 10;
  margin: 20px;
  border-top-right-radius: 0%;
  
}

.formCadastro input[type=submit]{
  width: 20%;
  padding: 14px 20px;
  margin: 8px 0;
  background-color: #0a8f5e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  float: right;
 

}

.formCadastro input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin:  0;
    outline: none;


  }
  
  .formCadastro input[type=text]:focus{
    border: 3px solid #343a40;
  }


/* LISTA DE PESSOAS CADASTRADAS  */

.listaPessoas{
  padding: 10;
  margin: 20px;
  margin-top: 10px;
  
}


/* Menu de Botões */

  
  .menuBotoes{
    padding: 10;
    margin: 20px;
    margin-bottom: 0%;


  }

  .menuBotoes a{
    margin-right: 10px;
    padding: 7px;
  }

  .login{
    margin: 100px;
    padding: 70px;
    
  }
